.color {
    text-decoration: none;
    font-size: 15px;
    background: rgba(83, 189, 245, 0.6);
    padding: 1% 2%;
}
.color:hover {
    text-decoration: none;
    background: rgba(244, 59, 236, 0.6);
    color:#fff;
}
